@font-face {
  font-family: "Fredericka the Great";
  src: url("../fonts/FrederickatheGreat-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Amatic SC";
  src: url("../fonts/AmaticSC-Regular.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  overflow: hidden;
}

section {
  display: grid;
  /* place-items: center center; */
}

header {
  background-image: linear-gradient(
    to top,
    rgb(55, 236, 186) 0%,
    rgb(114, 175, 211) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
  /* font-family: "Fredericka the Great", cursive; */
  font-family: "Fredericka the Great", cursive;
  font-size: 3rem;
  font-weight: lighter;
}

h2 {
  text-align: center;
  margin: 9% 0 5% 0;
  color: rgb(75, 75, 75);
}

ul {
  padding-left: 0;
  width: 80%;
  margin: 0 auto;
  height: 85vh;
  overflow: auto;
}

li {
  list-style: none;
  background-color: #f2f2f2;
  padding: 0.5rem;
  border: 1px solid #e1e1e1;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  /* width: 80%; */
  position: relative;
}

.list-item__text {
  display: inline-block;
  margin-left: 1.8rem;
  width: 83%;
}

.list-item__text--line-through {
  text-decoration: line-through;
}

.list-item__color-green {
  background-color: #c2ffe0;
  border: 1px solid #77ffbb;
  color: #32644b;
}

.list-item__checkbox-position {
  position: absolute;
  top: 11px;
}

.btn__remove {
  position: absolute;
  right: 1.5%;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  top: 6px;
}

.btn__remove:hover,
.btn__remove:focus {
  background-color: rgb(255, 224, 224);
  color: red;
  border: 2px solid red;
  border-radius: 4px;
}

.btn {
  background: yellow;
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  margin-left: 1rem;
  border: 2px solid yellow;
  color: rgb(85, 85, 85);
}

.btn:hover,
.btn:focus {
  background: rgb(231, 231, 7);
}

.btn:active {
  transform: scale(0.9);
}

#task {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid rgb(114, 175, 211);
  background: #fff;
  font-size: 1rem;
}

#task::placeholder {
  color: rgb(114, 175, 211);
}

#task:hover,
#task:focus {
  background-color: rgb(255, 255, 210);
  border-color: yellow;
}

.img-display {
  display: none;
}

.img-spaced {
  margin: 0 auto;
}

.list-container-display {
  display: none;
}

.textNoTasks-display {
  display: none;
}

.textNoTasks-align {
  text-align: center;
}

.textNoTasks__text {
  color: rgb(70, 70, 70);
  font-family: "Amatic SC", cursive;
  font-size: 1.6rem;
}

.img-width {
  width: 70%;
}

.form-task {
  display: flex;
  justify-content: center;
}

.form-task__label {
  width: 1px;
  height: 1px;
  color: transparent;
}

@media (max-width: 1023px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(100px, 200px) 1fr;
    overflow: auto;
  }

  h2 {
    display: none;
  }

  header {
    margin-bottom: 2rem;
  }
}

@media (max-width: 424px) {
  h1 {
    font-size: 2.3rem;
  }

  #task {
    width: 50%;
  }

  .textNoTasks__text {
    font-size: 1.2rem;
  }
}
