* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  overflow: hidden;
}

section {
  display: grid;
  /* place-items: center center; */
}

header {
  background-image: linear-gradient(
    to top,
    rgb(55, 236, 186) 0%,
    rgb(114, 175, 211) 100%
  );
}

h1 {
  color: #fff;
}

h2 {
  text-align: center;
  margin: 1rem 0;
}

ul {
  padding-left: 0;
  width: 80%;
  margin: 0 auto;
  height: 85vh;
  overflow: auto;
}

li {
  list-style: none;
  background-color: #f2f2f2;
  padding: 0.5rem;
  border: 1px solid #e1e1e1;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  /* width: 80%; */
  position: relative;
}

.list-item__text {
  display: inline-block;
  margin-left: 1rem;
  width: 83%;
}

.list-item__text--line-through {
  text-decoration: line-through;
}

.btn__remove {
  position: absolute;
  right: 1.5%;
}
